.menus{
width: 72px;
height:26px;
display:block;
background:transparent url('button_menus.png') center top no-repeat;
}

.menus:hover {
background-image: url('hover_menus.png');
}

.about{
width:72px;
height:26px;
display:block;
background:transparent url('button_about.png') center top no-repeat;
}

.about:hover {
background-image: url('hover_about.png');
}


.gallery{
width:98px;
height:26px;
display:block;
background:transparent url('button_gallery.png') center top no-repeat;
}

.gallery:hover {
background-image: url('hover_gallery.png');
}


.directions{
width:140px;
height:26px;
display:block;
background:transparent url('button_directions.png') center top no-repeat;
}

.directions:hover {
background-image: url('hover_directions.png');
}


.blog{
width:50px;
height:26px;
display:block;
background:transparent url('button_blog.png') center top no-repeat;
}

.blog:hover {
background-image: url('hover_blog.png');
}


#text {
text-align: center;
line-height: 45px;
font-size: 15px;
font-family: Georgia;
}


#directions{
text-align: center;
font-size: 13px;
font-family: Georgia;
}

#about{
text-align: center;
font-size: 13px;
font-family: Georgia;
font-weight:normal;
}

#menu-text{
text-align: center;
font-size: 13px;
font-family: Georgia;
font-weight:normal;
padding-bottom: 20px;
margin-left: -4px;
}
.dotted {
border: 0.2em dotted black; 
border-style: none none dotted; 
margin-left:auto;
margin-right:43px;
width:55%;
}

.info {
display: block;
color:black;
font-size:14px;
letter-spacing:1px;
padding-top:30px;
padding-right:10px;

}

.hours {
font-size:12px;
line-height:20px;
}

.dot {
float: left;
margin-top: 10px;
padding: 0px 14px

}

#social {
display: block;
float: right;
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
}

#bordertop{
background: url(bordertop.png) top left no-repeat;
width:100%;
margin-top: -7px;
padding-right: 50px;
margin-left: -20px;
}


.tumblr_posts li { 
padding-bottom:50px;
list-style: none; 
list-style-position: outside; 
list-style-type: none; 

