
.menus {
  background: url(menus_button.png) no-repeat 0 0;
  display:inline-block;
  width:80px;
  height:8px;
  text-indent: -9999px;
}

.menus:hover {
  background-position: 0 -25px;
  outline:none;
 }  

.about {
  background: url(about_button.png) no-repeat 0 0;
  display:inline-block;
  width:80px;
  height:8px;
  text-indent: -9999px;
}

.about:hover {
  background-position: 0 -24px;
  outline:none;
 }  


.gallery {
  background: url(gallery_button.png) no-repeat 0 0;
  display:inline-block;
  width:98px;
  height:8px;
  text-indent: -9999px;
}

.gallery:hover {
  background-position: 0 -24px;
  outline:none;
 }  


.directions {
  background: url(directions_button.png) no-repeat 0 0;
  display:inline-block;
  width:140px;
  height:8px;
  text-indent: -9999px;
}

.directions:hover {
  background-position: 0 -24px;
  outline:none;
 }  


.blog {
  background: url(blog_button.png) no-repeat 0 0;
  display:inline-block;
  width:50px;
  height:8px;
  text-indent: -9999px;
}

.blog:hover {
  background-position: 0 -25px;
  outline:none;
 }  


#text {
text-align: center;
line-height: 45px;
font-size: 15px;
font-family: Georgia;
}


#directions{
text-align: center;
font-size: 13px;
font-family: Georgia;
}

#about{
text-align: center;
font-size: 13px;
font-family: Georgia;
font-weight:normal;
}

#menu-text{
text-align: center;
font-size: 13px;
font-family: Georgia;
font-weight:normal;
margin-left: -4px;
}
.dotted {
border: 0.2em dotted black; 
border-style: none none dotted; 
margin-left:auto;
margin-right:43px;
width:55%;
}

.info {
display: block;
color:black;
font-size:14px;
letter-spacing:1px;
padding-top:30px;
padding-right:10px;

}

.hours {
font-size:12px;
line-height:20px;
}

.dot {
float: left;
margin-top: 12px;
padding: 0px 14px

}

#social {
display: block;
float: right;
padding-top:20px;
padding-bottom:20px;
padding-right:20px;
}

#bordertop{
background: url(bordertop.png) top left no-repeat;
width:100%;
margin-top: -7px;
padding-right: 50px;
margin-left: -20px;
}


.tumblr_posts li { 
padding-bottom:50px;
list-style: none; 
list-style-position: outside; 
list-style-type: none; 

